# MacOS
.DS_Store

# IDEs
.idea/
.vscode/

# Virtual Environemnt
.venv/

# Byte-compiled
__pycache__/

# Jupyter Notebooks
.ipynb_checkpoints

# Database Files
*.db
support_assistant/data/chroma/

# Env Files
.env